{% extends "app.html.twig" %}

{% block title %}
	Trips
{% endblock %}

{% block body %}
	<div class="d-grid gap-2 d-md-flex justify-content-between">
		<h2 class="pb-2">Trips</h2>
		<div>
			<a href="{{ path('trip_create') }}" class="btn btn-success me-md-2" type="button">Create Trip</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Vehicle</th>
				<th scope="col">Driver</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
		<tbody>
			{% for trip in trips %}
				<tr>
					<th scope="row">{{ trip.id }}</th>
					<td>{{ trip.vehicle.brand }} - {{ trip.vehicle.model}} - {{ trip.vehicle.plate }}</td>
					<td>{{ trip.driver.name }} {{ trip.driver.surname }}</td>
					<td>{{ trip.date.format('Y-m-d') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
