{% extends "app.html.twig" %}

{% block title %}
    Edit Vehicle
{% endblock %}

{% block body %}
	<h2 class="pb-2 border-bottom">Edit Vehicle</h2>
	<form action="{{ path('vehicles_edit', { id: vehicle.id }) }}" method="post">
		<div class="mb-3">
			<label for="brand" class="form-label">Brand</label>
			<input type="text" value="{{ vehicle.brand }}" class="form-control" id="brand" name="brand" required>
		</div>
		<div class="mb-3">
			<label for="model" class="form-label">Model</label>
			<input type="text" value="{{ vehicle.model }}" class="form-control" id="model" name="model" required>
		</div>
		<div class="mb-3">
			<label for="plate" class="form-label">Plate</label>
			<input type="text" value="{{ vehicle.plate }}" class="form-control" id="plate" name="plate" required>
		</div>
		<div class="mb-3">
			<label for="license_required" class="form-label">License Required</label>
			<select class="form-select" id="license_required" name="license_required" required>
				<option value="Y" {{ vehicle.licenseRequired == 'Y' ? 'selected' : '' }}>YES</option>
				<option value="N" {{ vehicle.licenseRequired == 'N' ? 'selected' : '' }}>NO</option>
			</select>
		</div>
		<a href="{{ path('vehicles_index') }}" class="btn btn-secondary me-4">Return to list</a>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
{% endblock %}
